.container {
    width: 200px;
    padding: 20px;
    background-color: #fa8787;
    
  }
  
  h2{
    font-weight:bolder;
  }

  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    color: rgb(13, 8, 1);
  }
  
  button {
    padding: 5px 10px;
    background-color: #3f0461;
    color: white;
    border: none;
    cursor: pointer;
    
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    font-weight: 500;
  }
  
  li {
    margin-bottom: 5px;
  }
  